body {
    background-color: #fff1be;
}

.header-background {
  position: relative;
  display: block;
  width: 100%;
  height: 270px;
  background: url('./cover-photo.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
    margin-top: 30px;
}

.categories-row {
    margin-bottom: 5px;
}
